table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
    font-size: 12px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #453cc6cb;
    color: white;
}

.label {
    font-weight: bold;
    margin-bottom: 10px;
}

.export{
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background: #453cc6;
    border:none;
    color: #fff;
    font-size: 12px;
}