body {
    padding: 20px;
    padding-left: 100px;
    background-color: #fff;
    box-sizing: border-box;
}

.header img{
    height:35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    gap: 20px;
    /* justify-content: center;
    text-align: center; */
    /* max-width: 1200px; */
    /* max-height: fit-content; */
}

.analytics-sb {
    background-color: #fff !important;
}
  
.background {
    fill: linear-gradient(90deg, #5936B4 0%, #362A84 100%);
    position: absolute;
    inset: 0;
    z-index: -1;
}

.current-weather-card {
    flex: 0 0 342px;
    position: relative;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.current-weather-card .main-text {
    font-size: 48px;
    z-index: 2;
}
  
.current-weather-card .info {
    display: flex;
    justify-content: space-between;
}

.current-weather-card .info .text-gray {
    color: rgba(235, 235, 245, 0.60);
}
  
.current-weather-card .info .info-right {
    align-self: flex-end;
}

.weather-icon-right {
    position: absolute;
    bottom: 35px;
    left: 135px;
    width: 250px;
    height: 250px;
}

.weather-icon-right img {
    width: 100%;
    height: 100%;
}


/* .weather-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    width: 100%;
} */

.weather-cards-wrapper {
    display: flex;
    overflow-x: auto; /* Horizontal scrolling */
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    gap: 10px;
    max-width: 100%;
}

.weather-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.weather-card {
    flex: 0 0 120px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background: #fff;
    color: #333;
    scroll-snap-align: start;
}

.weather-cards-wrapper::-webkit-scrollbar {
    height: 3px;
}

.weather-cards-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.weather-cards-wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.time {
    font-size: 10px;
    text-align: center;
}

.city {
    font-size: 16px;
    margin-top: 10px;
}

.condition {
    font-size: 10px;
    color: #777;
}

.weather-icon {
    font-size: 25px;
    margin: 5px 0;
}

.temperature {
    font-size: 30px;
    font-weight: bold;
}

.details p {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 2px;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
}

canvas {
    flex: 1;
    max-width: 400px;
    max-height: 300px;
}

#lineChart {
    order: 1; /* Line chart appears first (left) */
}

#pieChart {
    order: 2; /* Pie chart appears second (right) */
}
